.hidden{
  display: none;
}
#image-holder{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 3rem;
}
#image-holder img{
  width: 300px;
  height: 300px;
}

form{
display: flex;
flex-direction: column;
}